@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.page 
{
 font-family: 'Roboto', sans-serif;
 display: flex; 
 justify-content: center;
 align-items: center;
flex-direction: column;
}
.ppage
{
font-family: 'Roboto', sans-serif;
 justify-content: center;
 align-items: center;
flex-direction: column;
}
.iniciopage
{
      font-family: 'Roboto', sans-serif;
      max-width: fit-content;
}
.fondoazul
{
      padding: 1%;
      height: 30%;
      background-color: #667EEA;
      align-self: stretch;
}

.titulop
{
      font-family: 'Roboto', sans-serif;

      display: flex;
      justify-content: center;
      color: #FFFFFF;
      font-weight: bold;
      font-size: x-large;
}

.titulohome
{
      font-family: 'Roboto', sans-serif;

      display: flex;
      color: #FFFFFF;
      font-weight: bold;
      font-size: x-large;
      padding: 1%;
      float: right;
      position: absolute;
      right:0%
}
.titulohomelog
{
      display: flex;
      justify-content: flex-end;
      color: #FFFFFF;
      font-weight: bold;
      font-size: x-large;

}
.textop
{
      display: flex;
      justify-content: center;
      padding: 5px;

}
.textorelleno
{
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: white;
      border: 2px solid white ;
      padding: 10px;
      border-radius: 13px;
      width:fit-content;
      background-color: #667EEA;
}

.pge
{
      font-family: 'Roboto', sans-serif;

      display: flex;
      flex-direction: column;
      align-items: center;
}


.h22
{
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: white;
      border: 2px solid black ;
      padding: 10px;
      border-radius: 13px;
      width:fit-content;
      background-color: #667EEA;
      
}
.Inicioc
{    

      font-family: 'Roboto', sans-serif;

      padding: 10%;
      display: flex;
      justify-content: center;
      align-content: center;
      padding-top: 7%;
      
      

}

.Iniciosign
{
      padding: 8%;
      display: flex;
      justify-content: center;
      align-content: center;
      padding-top: 7%;
}
.labelcolor
{
      display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 300px;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: black;

}
.googlecolor
{
      display: flex;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 10px;
        border: 3px solid #ccc;
        border-radius: 5px;
        width: 300px;
        font-size: 16px;
        box-sizing: border-box;
        background-color: white; /* Color de fondo gris */
        color: gray;  
}

.inputcolor
{
      width: 300px;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: #333;
}

.volverbutton
{
      font-family: 'Roboto', sans-serif;
      color: white;
      border: 2px solid white ;
      padding: 10px;
      border-radius: 13px;
      background-color: #ccc;
      color: black; 
      width: 145px;
      text-align: center;
}
.iniciobutton
{
      font-family: 'Roboto', sans-serif;
      color: white;
      border: 2px solid white ;
      padding: 10px;
      border-radius: 13px;
      background-color: #667EEA;
      width: 145px;
      text-align: center;

}
.labelcuenta
{
      display: flex;
      
}


.columna
{
      display: flex;
justify-content: space-between;
}

.toggle2
{
      display: flex;
      justify-content: center;
      padding: 2%;
            
}
.toggle3
{
      color: blue;
}

.serchbar
{
      display: flex;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 300px;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: black;
}

.profile-menu
{

}

.menu-options
{
      display: flex;
      flex-direction: column;
      font-size: medium;

}

.butoncuenta
{
      color: #FFFFFF;
      border-radius: 5px;
      width: -webkit-fill-available;
      font-size: 16px;
      background-color: #667EEA;
      padding: 2%;
      text-align: center;
      align-items: center;
}
.botonfondo
{
 display: flex;
 padding: 1%;
 align-items: center;
 text-align: center;
 justify-content: flex-end;
}

.cnegocio
{
      align-content: flex-start;
}
.Iniciobuisnes
{
      display: flex;
      padding: 5%;
      justify-content: center;
      align-content: center;
}
.labelcolorAcount
{

      display: flex;
    font-family: 'Roboto', sans-serif;
    padding: 2px;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: fit-content;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: black;
      

}
.inputcolorAcount
{
      max-width: fit-content;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: #333;
}

.searchdiv
{
      display: flex;
    justify-content: center;


}
.prueba
{
      display: flex;
      flex-direction: column;
      align-items: center;
}

.general .searchdiv input
{
      display: flex;
      justify-content: center;
      width: fit-content;
      border: 3px solid #ccc;
      height: 38px;
      border-radius: 5px 0px 0px 5px;
      
      
}

.general .searchdiv .react-autosuggest__suggestions-container{
      display: flex;
      display: grid;
      background-color: grey;
      border: black 5px;
      background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);


}

.general{
      border-radius: 10%;
      display: flex;
      justify-content: center;
      align-items: start;
      
}


.buttonserch
{
      padding: 5px;
      display: flex;
      font-size: 16px;
      color: white;
      background-color: #667EEA;
      max-width: fit-content;
      align-items: center;
      border: 2px solid #ccc;
      border-radius: 0px 5px 5px 0px;}
.randm
{
      display: flex;
      flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    width: -webkit-fill-available;
}
.imginicio
{
      width:400px;
      height: 280px;
      padding-top:5%;
}
.imglogin
{
      padding-top: 10%;
      width:25%; 
      height:25%;
}     
.boxshadow
{
      box-shadow: 20px 20px #667EEA;
      width: fit-content;
      padding: 5%;
      padding-left: 10%;
      padding-bottom: 2%;
      height: fit-content;
}

.toggle {
      display: flex;
      justify-content: center;
      align-items: center;
}

.Account{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
}

.labelcolorAcountProduct
{

      display: flex;
    font-family:'Roboto' sans-serif;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: black;
      width: 400px;
      height: 100px;


}

.labelcolorbuton
{
      display: flex;
      align-items: center;
      text-align: center;
}
.inputcolorbuton
{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 4px;
        border: 1px;
        border-radius: 5px;
        max-width: fit-content;
        font-size: 16px;
        box-sizing: border-box;
        background-color: #667EEA; /* Color de fondo gris */
        color: white;
        align-items: center;
}

.ConfPosition
{
      display: flex;
      align-items: center;
      flex-direction:column;
}
.tituloconfig
{
      display: flex;
      justify-content: center;
      color: #FFFFFF;
      font-weight: bold;
      font-size: x-large;
}

.labelconfig
{

      display: flex;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 2px;
      border: 1px;
      border-radius: 5px;
      max-width: -moz-fit-content;
      max-width: fit-content;
      font-size: 16px;
      background-color: #ddd;
}

.inputconfig
{
      max-width: fit-content;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #ddd;
    color: #333;
}
.espaciolog
{
      padding: 4px;
}
.ConfGeneral
{
      display: flex;
      align-items: center;
      flex-direction:column ;
      padding-top: 20px;
}

.imagenpropotions
{
      width: 60%;
      padding-top: 20px;
      padding-bottom: 10%;
}
.fondobutonconfig
{
      display: flex;
      align-items: center;
      text-align: center;
}
.VOLVERCONFIG
{
      color: #FFFFFF;
      border-radius: 5px;
      font-size: 16px;
      display: flex;
      background-color: #667EEA;
      padding: 0.5%;
      align-items: center;
    justify-content: center;
    width: 5%;
    text-align: center;
}
.paddingbuttonconfig
{
      display: flex;
      padding-left: 5%;
      padding-top: 180px;
      padding-right: 10px;
}
.espacioez
{
      padding: 0.5%;
}
.imglocal
{
      width: 200px;
    float: inline-end;
    height: 200px;
    padding-top: 10px;
}

.dejacomentario
{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 1.5%;
      width: fit-content;
}

.butonconfig
{
      color: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    background-color: #667EEA;
    text-align: center;
    padding: 5%;
    width: 85px;


}
.textareat
{
      display: flex;
      width: 300px;
      height: 70px;
      border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #ddd;
}

.inputNoMbre
{
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #ddd;
}

.spaceinbetween
{
      padding-bottom: 5%;

}
.buttonreview
{
      color: #FFFFFF;
      border-radius: 5px;
      font-size: 16px;
      display: flex;
      background-color: #667EEA;
      padding: 0.5%;
      align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;

}
.recubrebuton
{
      float: inline-end;
}