@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.page 
{
 font-family: 'Roboto', sans-serif;
 display: flex; 
 justify-content: center;
 align-items: center;
flex-direction: column;
}
.ppage
{
font-family: 'Roboto', sans-serif;
 justify-content: center;
 align-items: center;
flex-direction: column;
}
.iniciopage
{
      font-family: 'Roboto', sans-serif;
      max-width: fit-content;
}
.fondoazul
{
      padding: 1%;
      height: 30%;
      background-color: #667EEA;
}

.titulop
{
      display: flex;
      justify-content: center;
      color: #FFFFFF;
      font-weight: bold;
      font-size: x-large;
}

.titulohome
{
      display: flex;
      color: #FFFFFF;
      font-weight: bold;
      font-size: x-large;
      padding: 1%;
      float: right;
}
.titulohomelog
{
      display: flex;
      justify-content: flex-end;
      color: #FFFFFF;
      font-weight: bold;
      font-size: x-large;

}
.textop
{
      display: flex;
      justify-content: center;
      padding: 20%;

}
.textorelleno
{
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: white;
      border: 2px solid white ;
      padding: 10px;
      border-radius: 13px;
      width:fit-content;
      background-color: #667EEA;
}

.pge
{
align-items: center;
}


.h22
{
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: white;
      border: 2px solid black ;
      padding: 10px;
      border-radius: 13px;
      width:fit-content;
      background-color: #667EEA;
      
}
.Inicioc
{    

      padding: 10%;
      display: flex;
      justify-content: center;
      align-content: center;
      padding-top: 35%;
      
      

}

.Iniciosign
{
      padding: 3%;
      display: flex;
      justify-content: center;
      align-content: center;
      padding-top: 7%;
}
.labelcolor
{
      display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 300px;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: black;

}
.googlecolor
{
      display: flex;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      padding: 10px;
        border: 3px solid #ccc;
        border-radius: 5px;
        width: 300px;
        font-size: 16px;
        box-sizing: border-box;
        background-color: white; /* Color de fondo gris */
        color: gray;  
}

.inputcolor
{
      width: 300px;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: #333;
}

.volverbutton
{
      font-family: 'Roboto', sans-serif;
      color: white;
      border: 2px solid white ;
      padding: 10px;
      border-radius: 13px;
      background-color: #ccc;
      color: black; 
      width: 145px;
      text-align: center;
}
.iniciobutton
{
      font-family: 'Roboto', sans-serif;
      color: white;
      border: 2px solid white ;
      padding: 10px;
      border-radius: 13px;
      background-color: #667EEA;
      width: 145px;
      text-align: center;

}
.labelcuenta
{
      display: flex;
      
}


.columna
{
      display: flex;
justify-content: space-between;
}

.toggle2
{
      display: flex;
      justify-content: center;
      padding: 2%;
            
}
.toggle3
{
      color: blue;
}

.serchbar
{
      display: flex;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 300px;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: black;
}

.profile-menu
{

}

.menu-options
{
      display: flex;
      flex-direction: column;
      font-size: medium;

}

.butoncuenta
{
      color: #FFFFFF;
      border-radius: 5px;
      width: -webkit-fill-available;
      font-size: 16px;
      background-color: #667EEA;
      padding: 2%;
      text-align: center;
      align-items: center;
}
.botonfondo
{
 display: flex;
 padding: 1%;
 align-items: center;
 text-align: center;
 justify-content: flex-end;
}

.cnegocio
{
      align-content: flex-start;
}
.Iniciobuisnes
{
      display: flex;
      padding: 5%;
      justify-content: center;
      align-content: center;
}
.labelcolorAcount
{

      display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      max-width: fit-content;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: black;
      

}
.inputcolorAcount
{
      max-width: fit-content;
      font-size: 16px;
      box-sizing: border-box;
      background-color: #ddd; /* Color de fondo gris */
      color: #333;
}

.searchdiv
{
      display: flex;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid #D2D2D2;
      font-size: 16px;
      color: white;
      background-color: #667EEA;
      max-width: fit-content;

}

.elepep
{
      display: flex;
      justify-content: center;
      padding-top: 5%;
}
